body {
  background-color: #FFFFFF;
  width: 100%;
}

.wrapper {
  padding-bottom: 90px;
}

header,
section {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 150px;
  border: 5px solid red;
}
 
.container {
  max-width: 1200px;
  color: #000000;
  font-style: normal;
}

h1,
h2 {
  font-family: 'Francois One';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Farro';
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

p {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 48px; 
}

.underline {
  text-decoration: underline;
}

.italic {
font-style: italic;
}

.bold {
font-weight: 700;
}

.bg-grey {
  background-color: #C9C9C9;
}

/* ----------------header---------------------- */
header {
  margin: 0 auto;
}

.header__container {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 13px 0;
  z-index: 5;
}

.container__block {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.header__menu {
  max-width: 261px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.eng {
  font-family: 'Tourney', cursive;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #FFFFFF;
}

/*------------- aside------------- */
aside {

}
.sidebar__container {
  max-width: 385px;
  min-height: 462px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  white-space: nowrap;
  top: 150px;
  position: sticky;
  z-index: 3;
}

.subtitle-underline {
  padding: 0px 0px 10px;
  border-bottom: 1px solid #BDBDBD;
}


/* ------------main-------------- */
main {
  max-width: 785px;
}
.divider {
  width: 100px;
  height: 8px;
  background: #000000;
  margin-bottom: 20px;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.main__chapter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
